/* start of grid */
.boxes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100px;
  width: 50px;
  grid-auto-flow: column;
  width: fit-content;
  margin: 0 auto;
}

.box-item {
  background-color: #4A4A4A;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white; 

}

.default-box-item-lvl-0 {
  background-color: #2D68C4;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

.default-box-item-lvl-1 {
  background-color: #1A4A96;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

.default-box-item-lvl-2 {
  background-color: #143A78;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

/* Put theme definitions here */

/*Pink*/
.powerPink-box-item-lvl-0 {
  background-color: lightpink;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

.powerPink-box-item-lvl-1 {
  background-color: hotpink;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}


.powerPink-box-item-lvl-2 {
  background-color: deeppink;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

/*Green*/
.growingGreen-box-item-lvl-0 {
  background-color: #5CE65C;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

.growingGreen-box-item-lvl-1 {
  background-color: #008000;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}


.growingGreen-box-item-lvl-2 {
  background-color: #0F4D0F;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

/* start of form */
.form {
  display: flex;
  width: 300px;
  height: 300px;
  /* add back if you want inputs */
  /* background-color: #0A1A2F; */
  margin: 100px auto;
  border-style: rounded;
  border-color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center
}

.form-inputs {
  display: flex;
  gap: 50px;
  width: 200px;
  align-items: center;
  flex-direction: column;
  border-style: rounded;
  border-color: white;
  border-radius: 200px;
}

.form-input-fields {
  display: flex;
  gap: 50px;
  width: 200px;
  height: 30px;
  align-items: center;
  flex-direction: column;
  border-style: rounded;
  border-color: white;
  border-radius: 200px;
}

.submit-form {
  display: flex;
  width: 200px;
  height: 80px;
  border-style: rounded;
  border-radius: 8px;
  border-color: white;
  font-family: "Outfit";
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: #3C635F;
  color: white;
  box-shadow: 0 4px 16px rgba(255, 0, 110, 0.3);
  transition: all 0.2s ease;
  cursor: pointer;
}

/* theme names */
.theme-names-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.theme-header{
  font-family: "Outfit";
}

.theme-names{
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  font-family: "Outfit";
  gap: 5px;
}

body {
  background-color: lightblue;
}



