.boxes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100px;
  width: 50px;
  grid-auto-flow: column;
  width: fit-content;
  margin: 0 auto;
}

.box-item {
  background-color: grey;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white; 
}

.box-item-lvl-0 {
  background-color: lightpink;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

.box-item-lvl-1 {
  background-color: hotpink;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

.box-item-lvl-2 {
  background-color: deeppink;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
}

body {
  background-color: black;
}
